.button-register{
    color: white;
    border: 1px solid white;
}
.category-pera{
    transition: 100ms;
    text-align: center;
    margin: 0 auto;
}
.category-pera:hover{
    border-bottom: 3px solid #000;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .search-bar{
      display: none;
    }
  }
  